<%= form_for(@new_email) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.text_field :from, placeholder: "#{current_user.name}@#{CONFIG['domain']}" %>

  <%= f.text_field :to, placeholder: "To" %>

  <%= f.text_field :subject, placeholder: "Subject" %>

  <div class="field">
    <%= f.text_area :body, placeholder: "Compose new email..." %>
  </div>

  <%= link_to "send", '#', class: "btn btn-success" %>
  <%= f.submit "save", class: "btn" %>
<% end %>
