<%= form_for(@reply_mail, index: "reply") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :from, value: "#{current_user.name}@#{CONFIG['domain']}" %>

  <%= f.hidden_field :to %>

  <%= f.hidden_field :subject %>

  <div class="field">
    <%= f.text_area :body, placeholder: "Quickreply", rows: 5 %>
  </div>

  <%= f.submit 'send', class: "btn btn-success" %>
  <%= f.submit 'save', class: "btn" %>
<% end %>
