<% provide(:title, 'mail') %>
<div id="mail-wrap">
  <div id="button-row">
    <div class="sidebar">
      <a class="compose-link btn btn-primary" data-toggle="modal" href="#readModal">Compose</a>

    <%= javascript_tag do %>
      $(function() {
        $('a.compose-link').click(function(event){
          event.preventDefault();

          $('h4#read-form-new').text('New Message');
          $('h4#read-form-from').empty();
          $('h4#read-form-to').empty();
          $('h4#read-form-subject').empty();
          $('div#read-form-body').empty();

          $('input#email_to').val("");
          $('input#email_subject').val("");
        });
      });
    <% end %>

    </div>

    <div class="content">
      <div class="left">
        <a href="#" class="btn"><i class="icon-ok"></i></a>
        <a href="#" class="btn"><i class="icon-refresh"></i></a>
        <a href="#" class="btn"><i class="icon-trash"></i></a>
      </div>

      <div class="right">
        0-0 of 0
        <div class="btn-group">
          <a href="#" class="btn"><i class="icon-chevron-left"></i></a>
          <a href="#" class="btn"><i class="icon-chevron-right"></i></a>
        </div>
      </div>
    </div>


  </div>

  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs sidebar">
      <li class="active"><a href="#inbox" data-toggle="tab">Inbox<%= count_in_paren(@in_mail.count) %></a></li>
      <li><a href="#starred" data-toggle="tab">Starred<%= count_in_paren(@star_mail.count) %></a></li>
      <li><a href="#sent" data-toggle="tab">Sent<%= count_in_paren(@out_mail.count) %></a></li>
      <li><a href="#drafts" data-toggle="tab">Drafts<%= count_in_paren(@draft_mail.count) %></a></li>
    </ul> 

    <div class="tab-content content">
      <div id="inbox" class="tab-pane active">
        <% if @in_mail.any? %>
          <ul class="message-list">
            <%= render partial: "emails/readmail", collection: @in_mail %>
          </ul>
        <% else %>
          <div class="center">Nothing here</div>
        <% end %>
      </div>

      <div id="starred" class="tab-pane">
        <% if @star_mail.any? %>
          <ul class="message-list">
            <%= render partial: "emails/readmail", collection: @star_mail %>
          </ul>
        <% else %>
          <div class="center">Nothing here</div>
        <% end %>
      </div>

      <div id="sent" class="tab-pane">
        <% if @out_mail.any? %>
          <ul class="message-list">
            <%= render partial: "emails/readmail", collection: @out_mail %>
          </ul>
        <% else %>
          <div class="center">Nothing here</div>
        <% end %>
      </div>

      <div id="drafts" class="tab-pane">
        <% if @draft_mail.any? %>
          <ul class="message-list">
            <%= render partial: "emails/readmail", collection: @draft_mail %>
          </ul>
        <% else %>
          <div class="center">Nothing here</div>
        <% end %>
      </div>
    </div> <!-- /.tab-content content -->
  </div> <!-- /.tabbable tabs-left -->

  <div class="bottom-clear"></div>

  <!-- Modal -->
  <div class="modal fade" id="readModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 id="read-form-new" class="modal-title"></h4>
          <h4 id="read-form-from" class="modal-title"></h4>
          <h4 id="read-form-to" class="modal-title"></h4>
          <h4 id="read-form-subject" class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div id="read-form-body" style="margin-bottom: 15px;"></div>
          <%= render 'users/compose_form' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div><!-- /#mail-wrap -->

