<li id="li-<%= email.id %>" class="mail-li <%= 'new-email' if email.is_new %>">
<div class="checkbox">
<%= check_box_tag('emails[]', email.id) %>
</div>
<div>
  <% if email.box == 3 %>
    <%= link_to (edit_email_path(email)) do %>
      <div class="address">
        <%= email.to %>
      </div>
      <div class="subject">
        <%= (email.subject.to_s.length == 0) ? '(no subject)' : email.subject %>
        <div class="date">
          <%= time_ago_in_words(email.updated_at) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to email, id: "read-#{email.id}", class: "read-link" do %>
      <div class="address">
        <% if email.box==1 %>
          <%= email.from %>
        <% else %>
          <%= email.to %>
        <% end %>
      </div>
      <div class="subject">
        <%= (email.subject.to_s.length == 0) ? '(no subject)' : email.subject %>
        <div class="date">
          <%= time_ago_in_words(email.updated_at) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</li>

