<li class="mail-li">
  <a id="read-<%= readmail.id %>" class="read-link" data-toggle="tab" href="#readpane">
    <div class="address">
      <% if readmail.box==1 %>
        <%= readmail.from %>
      <% else %>
        <%= readmail.to %>
      <% end %>
    </div>
    <div class="subject">
      <%= readmail.subject %>
      <div class="date">
        <%= readmail.date %>
      </div>
    </div>
  </a>
</li>

<%= javascript_tag do %>
  $(function() {
    $('a#read-<%= readmail.id %>').click(function(event){
      event.preventDefault();

      $('h4#read-form-subject').text('Subject: <%= j readmail.subject %>');
      $('div#read-form-body').text('<%= j readmail.body %>');
      $('input#email_reply_subject').val('<%= j readmail.subject %>');

      if (<%= j readmail.box.to_s %> == 1) {
        $('h4#read-form-from').text('From: <%= j readmail.from %>');
        $('h4#read-form-to').text('To: me');

        $('input#email_reply_to').val('<%= j readmail.from %>');
      } else {
        $('h4#read-form-from').text('From: me');
        $('h4#read-form-to').text('To: <%= j readmail.to %>');

        $('input#email_reply_to').val('<%= j readmail.to %>');
      }

    });
  });
<% end %>
